<%- include('../partials/header'); %> 

<header>
    <h1 class="title">New Article</h1>
</header>
<form action="/articles" method="post" class="form-block">
    <%- include('./partials/form'); %>
</form>

<%- include('../partials/footer'); %>
